{% extends 'index.html' %}
{% load static %}

{% block css %}
<style>
   .content{
            /* position: relative; */
            height: 575px;
            width: 100%;
            background-size:cover; 
        }
        
        .explore{
            color: rgb(13, 13, 13)!important;
            text-align: center;
            padding: 160px;
            font-family: 'Lobster', cursive;
            letter-spacing: 8px;
            font-size: 75px;
            
        }
</style>

{% endblock %}
  
  
  
{% block content %}

  <!-- this is the content section -->
  <section class="content" style="background-color: rgb(199, 150, 244); ">
    <h1 class="explore">This is Experience Blogs Page</h1>
    </section>
     <!-- this is the content section -->
{% endblock %}